@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

* {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #E2B8A5;
}

.navigation a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
    padding: 20px;
}

.navigation a:hover {
    color: #E2B8A5;
}

.name {
    color: white;
    text-decoration: none;
    width: 3cm;
    height: 2.4cm;
}

.bar {
    background-color: #6f0056;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.abouts-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 5cm;
}

.s1-img {
    height: 70vh;
    display: inline-flex;
    float: right;
    border-radius: 100%;
}

.slogan {
    margin-left: 4cm;
    margin-right: 2cm;
    font-weight: normal;
    color: #6f0056;
}

span {
    font-weight: bold;
    color: #1B1C1E;
    text-decoration: none;
    font-family: New Rocker;
}

.slogan a {
    text-decoration: none;
    color: #6f0056;
    font-weight: normal;
    text-decoration: underline;
}

.section2 {
    width: 100%;
    min-height: 100vh;
    
}

.success {
    margin-left: 4cm;
    z-index: 0;
}

.all {
    text-align: center;
    z-index: 1;
}